body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
.autocomplete-table {
  position: relative;
  border-width: 0px 3px 3px 3px;
  border-style: solid;
  border-color: goldenrod;
  background-color: whitesmoke;
  width: 203px;
}
input.text {
  width: 200px;
}
.option {
  border: black solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  padding: 5px;
}
